<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/bootstrap.min.js">
    <link rel="stylesheet" th:href="@{/bootstrap.min.js}" href="../static/bootstrap.min.js">
</head>
<body>
<header class="navStyling">
    <nav>
        <ul>
            <li><a href="homePage.html"></a>Home</li>
            <li><a href="#"></a>Menu</li>
            <li><a href="#"></a>About</li>
            <li><a href="#"></a>Contact</li>
        </ul>
    </nav>
</header>

<div class="row">
    <div class="col">
        <h1>Welcome</h1>
        <h3>List of Languages</h3>
        <ul>
            <li><a href=""></a>JavaScript</li>
            <li><a href=""></a>Java</li>
            <li><a href=""></a>HTML</li>
            <li><a href=""></a>CSS</li>
        </ul>
    </div>
</div>


</body>
</html>